@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:"Roboto", sans-serif; 
        text-decoration: none;
    }


    #linha{
        line-height:10cm;
        text-decoration: underline;

    }

    header{
        background-color: #07112A;
        width: 100%;

    }

    header nav ul{
        display: flex;
        list-style: none;
        padding: 5px 10px 5px 10px ;

    }
    header nav ul li{
        margin: 0 10px;
        color:#FFCFA4;
        font-size: 0.7em;
        font-weight: 400;
        font-style: normal;
        cursor: pointer;
    }

    header nav ul li:hover{
        color: #f8dcc4;
    }

    #banner{
       width: 100%; 
    }

    main{
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
       

    }

    .modal{
        width: 30%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border-radius: 8px;

    }
    .img_modal{
        width: 100%;
        border-radius: 8px;
    }

    .modal h1{
        font-size: 1em;
        text-align: center;
        margin: 10px 0px;
        color: #FD9683;

    }

    .modal p{
        text-align: justify;
        padding: 5px;
        color: rgb(71, 71, 71);
    }


    footer{

        background-color: #07112A;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;

    }

    .section_footer{
        padding: 25px 0px;
        color: #FFCFA4;
    }

    .conteudo_texto{
        margin-bottom:10px;
        display: flex;
        align-items: center;    
    }

    .conteudo_texto span{
        margin-right: 10px;
    }



    #section_menu ul{
        list-style: none;
    }

    #section_menu ul li{
        margin-bottom: 10px;
        cursor: pointer;
    }

    #section_menu ul li:hover{
        color: #f8e7d8;
    }

